#history{
    font-size: small;
    margin-right: 17px;
    margin-bottom: 0px;
    text-align: right;
    color: rgb(108, 108, 108);
    height: 15.2px;
}
#res{
    font-size: large;
    margin-right: 17px;
    text-align: right;
}
#wrapper{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width:250px;
}
#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
button {
    margin: 5px;
    width: 50px;
    height: 25px;
    border-radius: 5px;
}